* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.card-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    size: 1.8rem
}

.moveBar {
    padding: 1rem 0.6rem;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    display: flex;
    gap: 0.2rem;
    box-shadow: 1px 5px 10px #cacacab8, -1px, -5px 15px #b3b3b336;
    cursor: move;
}

.dot {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 100%;
    background-color: blue;
    display: inline-block;
}





