* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.card-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    size: 1.8rem
}

.moveBar {
    padding: 1rem 0.6rem;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    display: flex;
    gap: 0.2rem;
    box-shadow: 1px 5px 10px #cacacab8, -1px, -5px 15px #b3b3b336;
    cursor: move;
}

.dot {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 100%;
    background-color: blue;
    display: inline-block;
}

.container-body {
    font-family: "Gilroy", sans-serif;
    display: flex;
    font-weight: normal;
    gap: 1rem
}

.one-unit {
    cursor: pointer;
    border: 1px solid lightgray;
    height: 16rem;
    width: 6rem;
    border-radius: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    background-color: white;
    transition: all .2s ease-in-out;
}

.currency {
    /* 设置文字间距 */
    letter-spacing: 1px;;
}




